@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'jost', sans-serif;
}
footer {
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.rooms .card {
  border: none;
}

.rooms .card-img-top {
  height: 700px;
  width: 100%;
  object-fit: cover;
  border: none;
}

.banner {
  position: relative;
  border: none;
}
.banner img {
  filter: brightness(70%);
  border: none;
}
.fixed-top-button {
  position: fixed !important;
  top: 10px;
  left: 10px;
  z-index: 1000 !important;
  background-color: #6ea2db !important;
  border-radius: 1px !important;
  color: #6ea2db;
}
.room-card img {
  height: 200px;
  object-fit: cover;
  border-radius: 1px;
  border: none;
}
.room-card {
  margin-bottom: 20px;
  border: none;
  gap: 50px;
}
.room-card .card-body {
  padding: 15px;
}
.card-title.text-center {
  width: 70px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  align-items: center;
  margin-left: 50vw;
}
.room-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.room-card:hover {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}
